.board {
  display: grid;
  width: fit-content;
  position: relative;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 16px ridge #333;
  border-radius: 16px;
}

.white-to-move {
  border-color: #fff;
}

.black-to-move {
  border-color: #000;
}

.promotion-pick {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}