@font-face {
  font-family: Pecita;
  src: url("./assets/fonts/Pecita.otf");
  font-display: swap;
}

.board-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.main-card-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 100%;
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.moves-pb {
  transition: opacity 0.5s ease-in-out;
}

.animate-endgame {
  animation: endgame 0.4s linear;
}

@keyframes endgame {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(2px, -2px) rotate(-0.5deg);
    transform: translate(2px, -2px) rotate(-0.5deg);
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    filter: blur(2px) grayscale(0.5);
  }

  60% {
    -webkit-transform: translate(-2px, 2px) rotate(0.5deg);
    transform: translate(-2px, 2px) rotate(0.5deg);
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.volume-button {
  &:active {
    outline: none;
  }
}